header
    .container 
        div(class="inner-header row align-items-center")
            div(class="inner-logo col-3 ")
                img(src="/img/logo.svg", alt="")
            div(class="inner-menu col-9")
                ul 
                    li 
                        a(href="/")  trang chu   
                    li   
                        a(href="/product") san pham 

