.sider 
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`)  tong quan 
            li 
                a(href=`${prefixAdmin}/products_category`)  Danh muc san pham
            li 
                a(href=`${prefixAdmin}/products`)  san pham 