extends ../../layout/default
include ../../mixins/alert.pug

block main 
    +alert-error(5000)
    .container.my-5 
        .row.justify-content-center
            .col-8
                form(action=`/user/password/reset` method="POST")
                    h2(class="text-center") #{pagetitle}
                    .form-group
                        label(for="Newpassword") New password
                        input(type="password" name="Newpassword" class="form-control" required)
                    .form-group
                        label(for="Confirmpassword") confirm Password
                        input(type="password" name="Confirmpassword" class="form-control" required)
                    button(type="submit" class="btn btn-primary btn-block") xac nhan
